runtime: python39

handlers:
  - url: /static
    static_dir: staticfiles/

  - url: .*
    script: auto
    secure: always

env_variables:
  DATABASE_URL: ${DATABASE_URL}
  DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
  DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
  DJANGO_GCP_STORAGE_BUCKET_NAME: ${DJANGO_GCP_STORAGE_BUCKET_NAME}
